<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Manage StudentAvatar">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudentAvatar Dashboard</title>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Firebase Database Quickstart">
  <meta name="theme-color" content="#303F9F">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Firebase Database Quickstart">
  <meta name="apple-mobile-web-app-status-bar-style" content="#303F9F">

  <!-- Tile icon for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">
  <meta name="msapplication-navbutton-color" content="#303F9F">

  <!-- Material Design Lite -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css">
  <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="stylesheet" href="css/nav.css">
</head>

<body ng-app="myApp">
	
	<div class="container">
	
		<div class="row">
			<div class="col-md-12">
				<h1>StudentAvatar Dashboard</h1>
				<p>Welcome to the StudentAvatar Dashboard</p>
			</div>
		</div>
		<a href="#" onclick="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
		<hr>
		
		<nav>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#user">User</a></li>
				<li><a data-toggle="tab" href="#guide">Guide</a></li>
				<li><a data-toggle="tab" href="#event">Event</a></li>
				<li><a data-toggle="tab" href="#map">Map</a></li>
				<li><a data-toggle="tab" href="#unit">Unit</a></li>
				<li><a data-toggle="tab" href="#club">Club</a></li>
			</ul>
		</nav>
		
		<div class="tab-content">
		
			<div id="user" class="tab-pane fade in active">
			
				<ul class="nav nav-pills">
					<li class="active"><a data-toggle="pill" href="#user-create">Add users</a></li>
					<li><a data-toggle="pill" href="#user-read">View users</a></li>
					<li><a data-toggle="pill" href="#user-update">Edit users</a></li>
					<li><a data-toggle="pill" href="#user-delete">Delete users</a></li>
				</ul>
			
			
				<div class="tab-content">
					
					<div id="user-create" class="tab-pane fade in active">
					
						<div class="panel panel-default">
							<div class="panel-heading">Add one user</div>
							<div class="panel-body">
							
								<form class="form-horizontal">
								
									<div class="form-group">
										<div class="col-md-3">
											<input type="text" class="form-control" id="user_name" placeholder="Enter username" name="user_name" required="required">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<input type="email" class="form-control" id="user_mail" placeholder="Enter email" name="user_mail" required="required">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<input type="text" class="form-control" id="user_pass" placeholder="Enter password" name="user_pass" required="required">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<label for="user_role">Select role of user</label>
											<select class="form-control" name="user_role" size="1" id="user_role" required="required">
												<option value="1">admin (1)</option>
												<option value="2">staff (2)</option>
												<option value="3">club leader (3)</option>
												<option value="4">student (4)</option>
											</select>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<button type="button" class="btn btn-default" onclick="userSubmit()">Add user</button>
										</div>
									</div>
								
								</form>
							</div>
						</div>
					
					
						<div class="panel panel-default">
							<div class="panel-heading">Add multiple users</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
					
					</div>
					
					<div id="user-read" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">View users</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
						
					</div>
					
					<div id="user-update" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">Edit users</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
						
					</div>
					
					<div id="user-delete" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">Delete users</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
						
					</div>
					
				</div>
			
			</div>
		
			<div id="guide" class="tab-pane fade">
				<h3>temp</h3>
				<p>placeholder add later</p>
			</div>
			
			<div id="event" class="tab-pane fade">
			
				<div class="panel panel-default">
					<div class="panel-heading">Add one event</div>
					<div class="panel-body">
						<!--enforce rules later-->
						<form class="form-horizontal">
						
							<div class="form-group">
								<div class="col-md-5">
									<input type="text" class="form-control" id="event_title" placeholder="Enter title" name="event_title" required="required">
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-md-5">
									<input type="text" class="form-control" id="event_date" placeholder="Enter date (yyyy/mm/dd), [range] (yyyy/mm/dd - yyyy/mm/dd)" name="user_mail" required="required">
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-md-5">
									<input type="text" class="form-control" id="event_time" placeholder="Enter time, [24hrs] (hh:mm), [range] (hh:mm - hh:mm)" name="event_time" required="required">
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-md-5">
									<input type="text" class="form-control" id="event_location" placeholder="Enter location" name="event_location" required="required">
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-md-5">
									<textarea rows="4" cols="50" id="event_description" placeholder="Add a description" name="event_description" ></textarea>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-md-3">
									<div class="checkbox">
										<label><input type="checkbox" id="event_notification" name="event_notification" value="1">Push notification?</label>
									</div>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-md-3">
									<button type="button" class="btn btn-default" onclick="eventSubmit()">Add event</button>
								</div>
							</div>
						
						</form>
					
					
					</div>
				</div>
				
				<div class="panel panel-default">
					<div class="panel-heading">Add multiple events</div>
					<div class="panel-body">
						<p>put something</p>
					</div>
				</div>
				
			</div>
			
			<div id="map" class="tab-pane fade">
				<h3>temp</h3>
				<p>placeholder add later</p>
			</div>
			
			<div id="unit" class="tab-pane fade">
			
				<ul class="nav nav-pills">
					<li class="active"><a data-toggle="pill" href="#unit-create">Add units</a></li>
					<li><a data-toggle="pill" href="#unit-read">View units</a></li>
					<li><a data-toggle="pill" href="#unit-update">Edit units</a></li>
					<li><a data-toggle="pill" href="#unit-delete">Delete units</a></li>
				</ul>
			
			
				<div class="tab-content">
				
					<div id="unit-create" class="tab-pane fade in active">
					
						<div class="panel panel-default">
							<div class="panel-heading">Add one unit</div>
							<div class="panel-body">
							
								<form class="form-horizontal">
								
									<div class="form-group">
										<div class="col-md-3">
											<input type="text" class="form-control" id="unit_code" placeholder="Enter code" name="unit_code" required="required">
										</div>
									</div>


									<div class="form-group">
										<div class="col-md-5">
											<input type="text" class="form-control" id="unit_name" placeholder="Enter name" name="unit_name" required="required">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<button type="button" class="btn btn-default" onclick="unitSubmit()">Add unit</button>
										</div>
									</div>
								
								</form>
							</div>
						</div>
					
					
						<div class="panel panel-default">
							<div class="panel-heading">Add multiple units</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
							
					</div>
				
					<div id="unit-read" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">View units</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
						
					</div>
					
					<div id="unit-update" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">Edit units</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
						
					</div>
					
					<div id="unit-delete" class="tab-pane fade">
						
						<div class="panel panel-default">
							<div class="panel-heading">Delete units</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
						
					</div>
				
				</div>
				
			</div>
			
			<div id="club" class="tab-pane fade">
			
				<ul class="nav nav-pills">
					<li class="active"><a data-toggle="pill" href="#club-create">Add clubs</a></li>
					<li><a data-toggle="pill" href="#club-read">View clubs</a></li>
					<li><a data-toggle="pill" href="#club-update">Edit clubs</a></li>
					<li><a data-toggle="pill" href="#club-delete">Delete clubs</a></li>
				</ul>
				
				<div class="tab-content" ng-controller="clubAll">
				
					<div id="club-create" class="tab-pane fade in active">
					
						<div class="panel panel-default">
							<div class="panel-heading">Add one club</div>
							<div class="panel-body">
							
								<form novalidate name="formClubCreate" ng-submit="createClub(formClubCreate)" class="form-horizontal">

									<div class="form-group">
										<div class="col-md-4">
											<input type="text" class="form-control" ng-model="clubName" id="club_name" placeholder="Enter name" name="club_name" required="required">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<input type="submit" class="btn btn-default" value="Add club" />
										</div>
									</div>
								
								</form>
							</div>
						</div>
					
					
						<div class="panel panel-default">
							<div class="panel-heading">Add multiple clubs</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
					
					</div>
					
					<div id="club-read" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">View clubs</div>
							<div class="panel-body">
								<table class="table" id="tableViewClub">
									<tr>
										<th>Name</th>
									</tr>
									<tr ng-repeat="c in clubs">
										<td>
											<input type="checkbox" checklist-model="clubChecked.clubs" checklist-value="c.$id" id="{{c.$id}}">
											<label for="{{c.$id}}">{{c.name}}</label>
										</td>
									</tr>
								</table>
								clubChecked.clubs {{clubChecked.clubs | json}}
							</div>
						</div>
					
					</div>
					
					<div id="club-update" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">Edit clubs</div>
							<div class="panel-body">
								<p>lolo put table here, logic should be when checked put in array, display that array here</p>
							</div>
						</div>
						
					</div>
					
					<div id="club-delete" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">Delete clubs</div>
							<div class="panel-body">
								<p>check items to delete</p>
								clubChecked.clubs {{clubChecked.clubs | json}}<br>
								<button type="button" class="btn btn-default" ng-click="deleteClub()">Delete</button>
							</div>
						</div>
						
					</div>
					
				</div>
			
			</div>
		
		</div>
		
		
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- Import and configure the Firebase SDK -->
    <!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
    <!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
    <script src="/__/firebase/3.9.0/firebase-app.js"></script>
    <script src="/__/firebase/3.9.0/firebase-auth.js"></script>
    <script src="/__/firebase/3.9.0/firebase-database.js"></script>
    <script src="/__/firebase/init.js"></script>
	
	<!--angularjs-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="scripts/angular.js"></script>
	
	<script src="scripts/checklist-model.js"></script>
	<script src="scripts/club.js"></script>
	
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
	
    
	
	
	<script src="scripts/logout.js"></script>
	<!--
	
	
	
	-->
	
</body>
    
</html>