<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Manage StudentAvatar">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>StudentAvatar Dashboard</title>

	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="static/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/favicons/favicon-16x16.png">
	<link rel="manifest" href="static/favicons/site.webmanifest">
	<link rel="mask-icon" href="static/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="static/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="static/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!-- Our CSS -->
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
	<link rel="stylesheet" href="static/css/themes/default.css">
	<link rel="stylesheet" href="static/css/themes/default.date.css">
	<link rel="stylesheet" href="static/css/bootstrap.vertical-tabs.min.css">
	<link rel="stylesheet" href="static/css/datePicker.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>

<body ng-app="myApp">
	<div class="container">
		<div class="page-header">
			<h1>Student Avatar</h1>
			<p>Welcome to the StudentAvatar Dashboard</p>
			<p><a href="#" onclick="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></p>
		</div>
		<div class="row">
			<nav class="col-md-12">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#guide">Guide</a></li>
					<li><a data-toggle="tab" href="#event">Event</a></li>
					<li><a data-toggle="tab" href="#map">Map</a></li>
					<li><a data-toggle="tab" href="#unit">Unit</a></li>
					<li><a data-toggle="tab" href="#club">Club</a></li>
					<!--<li><a data-toggle="tab" href="#user">User</a></li>-->
				</ul>
			</nav>

			<div class="tab-content">
				<div id="guide" class="tab-pane fade in active" ng-controller="guideAll">
					<div class="col-md-2">
						<ul class="nav nav nav-tabs tabs-left">
							<li class="active"><a data-toggle="tab" href="#guide-create">Create a Guide</a></li>
							<li><a data-toggle="tab" href="#guide-read">View all Guides</a></li>
							<li><a data-toggle="tab" href="#guide-update" ng-click="onGuideEditClick()">Edit a Guide</a>
							</li>
							<li><a data-toggle="tab" href="#guide-delete">Delete a Guide</a></li>
						</ul>
					</div>
					<div class="col-md-10">
						<div class="tab-content">
							<div id="guide-create" class="tab-pane fade in active" ng-controller="createGuide">
								<div class="panel panel-default">
									<div class="panel-heading">Create a guide</div>
									<div class="panel-body">
										<form name="myForm" sf-schema="schema" sf-form="form" sf-model="model"
											ng-submit="onSubmit(myForm)">
										</form>
									</div>
								</div>
							</div>

							<div id="guide-read" class="tab-pane fade">

								<div class="panel panel-default">
									<div class="panel-heading">View Guides</div>
									<div class="panel-body">
										<table class="table" id="tableViewGuide ">
											<tr>
												<th>Name</th>
											</tr>
											<tr ng-repeat="g in guides">
												<td>
													<input type="checkbox" checklist-model="guideChecked.guides"
														checklist-value="g.$id" id="{{g.$id}}"
														ng-disabled="!checked && guideChecked.guides.length == 1">
													<label for="{{g.$id}}">{{g.name}}</label>
												</td>
											</tr>
										</table>
									</div>
								</div>

							</div>

							<div id="guide-update" class="tab-pane fade">

								<div class="panel panel-default">
									<div class="panel-heading">Refresh an existing guide</div>
									<div class="panel-body">
										<p>You are editing: {{currentGuideName}} {{guideChecked.guides | json}}</p>
										<form name="guideEditForm" sf-schema="gEditSchema" sf-form="gEditForm"
											sf-model="gEditModel" ng-submit="onSubmit(guideEditForm)">
										</form>
									</div>
								</div>

							</div>

							<div id="guide-delete" class="tab-pane fade">
								<div class="panel panel-default">
									<div class="panel-heading">Delete Guides</div>
									<div class="panel-body">
										<p>check items to delete</p>
										guideChecked.guides {{guideChecked.guides | json}}<br>
										<button type="button" class="btn btn-danger" ng-click="deleteGuide()">Delete
											Guide</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="event" class="tab-pane fade" ng-controller="eventAll">
					<div class="col-md-2">
						<ul class="nav nav nav-tabs tabs-left">
							<li class="active"><a data-toggle="tab" href="#event-create">Add event</a></li>
							<li><a data-toggle="tab" href="#event-read">View events</a></li>
							<li><a data-toggle="tab" href="#event-update" ng-click="onEventEditClick()">Edit events</a>
							</li>
							<li><a data-toggle="tab" href="#event-delete">Delete events</a></li>
						</ul>
					</div>
					<div class="col-md-10">
						<div class="tab-content">

							<div id="event-create" class="tab-pane fade in active">

								<div class="panel panel-default">
									<div class="panel-heading">Add one event</div>
									<div class="panel-body">
										<form novalidate name="formEventCreate" class="form-horizontal">

											<div class="form-group">
												<div class="col-md-5">
													<input type="text" class="form-control" ng-model="eventTitle"
														id="event_title" placeholder="Enter title" name="event_title"
														ng-required="required">
												</div>
											</div>

											<div class="form-group">

												<label class="col-md-12" for="relateTo">This event relates to?</label>

												<div class="col-md-6">

													<label class="radio-inline">
														<input type="radio" id="relateTo" ng-model="rel.event"
															value="general"
															ng-click="onEventRelSelect('general')">General Event
													</label>

													<label class="radio-inline">
														<input type="radio" id="relateTo" ng-model="rel.event"
															value="unit" ng-click="onEventRelSelect('unit')">Unit
														(class/schedule/timetable)
													</label>

													<label class="radio-inline">
														<input type="radio" id="relateTo" ng-model="rel.event"
															value="club" ng-click="onEventRelSelect('club')">Club Events
													</label>

												</div>

											</div>

											<div class="form-group" ng-if="rel.event == 'unit' || rel.event == 'club'">

												<div class="col-md-4">
													<label>Choose from the list of {{rel.event}}</label>
													<select class="form-control" size="4"
														ng-model="choose.selectedEventId"
														ng-options="c.name for c in sel" ng-required="required">
													</select>
												</div>
												{{choose.selectedEventId.$id}}
											</div>
											<hr>
											<div class="form-group">
												<div class="col-md-4">
													<p>Pick date(s)</p>

													<div class='btn-group'>
														<label class="btn btn-default" ng-model="pickMode"
															uib-btn-radio="'indi'">Individual date pick</label>
														<label class="btn btn-default" ng-model="pickMode"
															uib-btn-radio="'range'">Range date pick</label>
													</div>

													<p ng-if="pickMode=='indi'">Choose any dates for this event</p>
													<p ng-if="pickMode=='range'">Choose a range of dates for this event
													</p>

													<div uib-datepicker ng-model="activeDate"
														multi-select="selectedDates"
														select-range="{{pickMode=='range'}}"
														datepicker-options="dateOptions"></div>
												</div>

												<div class="col-md-5">

													<div ng-if="pickMode=='indi'">
														Selected Dates:
														<div class="well well-sm">
															<div ng-repeat="d in selectedDates | orderBy">
																{{d | date : 'fullDate'}}
																<button class="btn btn-warning btn-xs"
																	ng-click="removeSelected(d)">Remove</button>
															</div>
														</div>
													</div>

													<div ng-if="pickMode=='range'">
														Selected Dates:
														<div class="well well-sm">
															{{(selectedDates | orderBy)[0] | date:"fullDate"}}
															<span ng-if="selectedDates.length > 1">
																-
																{{(selectedDates | orderBy : '-')[0] | date:"fullDate"}}
															</span>
														</div>
													</div>

												</div>
											</div>
											<hr>
											<div class="form-group">
												<div class="col-md-5">
													<p>Pick a time (numbers are scrollable)</p>
													<div uib-timepicker ng-model="eventTimeRange.start" hour-step="1"
														minute-step="1" show-meridian="true"></div>

													<button type="button" class="btn btn-default"
														ng-click="toggleDuration()" ng-if="!duration">Set end
														time</button>

													<div ng-if="duration">
														<p>End time</p>
														<div uib-timepicker ng-model="eventTimeRange.end" hour-step="1"
															minute-step="1" show-meridian="true"></div>

														<button type="button" class="btn btn-default"
															ng-click="toggleDuration()">Cancel</button>
													</div>
												</div>
											</div>
											<hr>
											<div class="form-group">
												<div class="col-md-5">
													<input type="text" class="form-control" ng-model="eventLocation"
														id="event_location" placeholder="Enter location"
														name="event_location">
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-5">
													<textarea class="form-control" rows="4" cols="50"
														ng-model="eventDesc" id="event_description"
														placeholder="Add a description"
														name="event_description"></textarea>
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-3">
													<div class="checkbox">
														<label><input type="checkbox" ng-model="eventNote"
																id="event_notification" name="event_notification">Push
															notification?</label>
													</div>
												</div>
											</div>

											<div class="form-group" ng-if="eventNote">
												<div class="col-md-4">
													<label>Choose the time to notify</label>
													<div uib-timepicker ng-model="eventTimestart.note" hour-step="1"
														minute-step="1" show-meridian="true"></div>
													</select>
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-3">
													<div class="checkbox">
														<label><input type="checkbox" ng-model="gotGuide"
																id="event_guide_rel" name="event_guide_rel">Select
															Related Guide?</label>
													</div>
												</div>
											</div>


											<div class="form-group" ng-if="gotGuide">
												<div class="col-md-4">
													<label>Choose from the list of guides</label>
													<select class="form-control" size="4"
														ng-model="chooseGuide.selectedGuideId"
														ng-options="g.name for g in listGuide" ng-required="required">
													</select>
												</div>
												{{chooseGuide.selectedGuideId.$id}}
											</div>

											<div class="form-group">
												<div class="col-md-3">
													<button type="button" class="btn btn-default"
														ng-click="createEvent()">Add Event</button>
												</div>
											</div>

										</form>


									</div>
								</div>

							</div>

							<div id="event-read" class="tab-pane fade">
								<div class="panel panel-default">
									<div class="panel-heading">View events</div>
									<div class="panel-body">

										<input type="text" ng-model="eventFil" placeholder="Search..." />
										<table class="table" id="tableViewEvent">
											<tr>
												<th>Title</th>
												<th>Date</th>
												<th>Time</th>
												<th>Relation</th>
												<th>Location</th>
												<th>Notification</th>
											</tr>
											<tr ng-repeat="ev in viewEvent | filter: eventFil">
												<td>
													<input type="checkbox" checklist-model="eventChecked.events"
														checklist-value="ev.$id" id="{{ev.$id}}"
														ng-disabled="!checked && eventChecked.events.length == 1">
													<label for="{{ev.$id}}">{{ev.title}}</label>
												</td>
												<td>
													<strong>{{ev.datealt}}</strong>
												</td>
												<td>
													<strong>{{ev.time}}</strong>
												</td>
												<td>
													<strong>{{ev.relateTo}}</strong>
												</td>
												<td>
													<strong>{{ev.location}}</strong>
												</td>
												<td>
													<strong>{{ev.note}}</strong>
												</td>
											</tr>
										</table>

									</div>
								</div>
							</div>

							<div id="event-update" class="tab-pane fade">
								<div class="panel panel-default">
									<div class="panel-heading">Edit events <em>{{edit_notice}}</em></div>
									<div class="panel-body">
										eventChecked.events: {{eventChecked.events | json}}<br>
										current selection: <br>
										<p><strong><em>Needs reselection of event relation and guide</em></strong></p>
										<form novalidate name="formEventCreate" class="form-horizontal">

											<div class="form-group">
												<div class="col-md-5">
													<input type="text" class="form-control" ng-model="currentEventTitle"
														id="currentevent_title" placeholder="Enter title"
														name="currentevent_title" ng-required="required">
												</div>
											</div>

											<div class="form-group">

												<label class="col-md-12" for="relateTo">This event relates to?</label>

												<div class="col-md-6">

													<label class="radio-inline">
														<input type="radio" id="relateTo" ng-model="rel.event"
															value="general"
															ng-click="onEventRelSelect('general')">General Event
													</label>

													<label class="radio-inline">
														<input type="radio" id="relateTo" ng-model="rel.event"
															value="unit" ng-click="onEventRelSelect('unit')">Unit
														(class/schedule/timetable)
													</label>

													<label class="radio-inline">
														<input type="radio" id="relateTo" ng-model="rel.event"
															value="club" ng-click="onEventRelSelect('club')">Club Events
													</label>

												</div>

											</div>

											<div class="form-group" ng-if="rel.event == 'unit' || rel.event == 'club'">

												<div class="col-md-4">
													<label>Choose from the list of {{rel.event}}</label>
													<select class="form-control" size="4"
														ng-model="choose.selectedEventId"
														ng-options="c.name for c in sel" ng-required="required">
													</select>
												</div>
												{{choose.selectedEventId.$id}}
											</div>
											<hr>
											<div class="form-group">
												<div class="col-md-4">
													<p>Pick date(s)</p>

													<div class='btn-group'>
														<label class="btn btn-default" ng-model="pickMode2"
															uib-btn-radio="'indi'">Individual date pick</label>
														<label class="btn btn-default" ng-model="pickMode2"
															uib-btn-radio="'range'">Range date pick</label>
													</div>

													<p ng-if="pickMode2=='indi'">Choose any dates for this event</p>
													<p ng-if="pickMode2=='range'">Choose a range of dates for this event
													</p>

													<div uib-datepicker ng-model="activeDate2"
														multi-select="selectedDates2"
														select-range="{{pickMode2=='range'}}"
														datepicker-options="dateOptions2"></div>
												</div>

												<div class="col-md-5">

													<div ng-if="pickMode2=='indi'">
														Selected Dates:
														<div class="well well-sm">
															<div ng-repeat="d in selectedDates2 | orderBy">
																{{d | date : 'fullDate'}}
																<button class="btn btn-warning btn-xs"
																	ng-click="removeSelected2(d)">Remove</button>
															</div>
														</div>
													</div>

													<div ng-if="pickMode2=='range'">
														Selected Dates:
														<div class="well well-sm">
															{{(selectedDates2 | orderBy)[0] | date:"fullDate"}}
															<span ng-if="selectedDates2.length > 1">
																-
																{{(selectedDates2 | orderBy : '-')[0] | date:"fullDate"}}
															</span>
														</div>
													</div>

												</div>
											</div>
											<hr>
											<div class="form-group">
												<div class="col-md-5">
													<p>Pick a time (numbers are scrollable)</p>
													<div uib-timepicker ng-model="eventTimeRange.start" hour-step="1"
														minute-step="1" show-meridian="true"></div>

													<button type="button" class="btn btn-default"
														ng-click="toggleDuration()" ng-if="!duration">Set end
														time</button>

													<div ng-if="duration">
														<p>End time</p>
														<div uib-timepicker ng-model="eventTimeRange.end" hour-step="1"
															minute-step="1" show-meridian="true"></div>

														<button type="button" class="btn btn-default"
															ng-click="toggleDuration()">Cancel</button>
													</div>
												</div>
											</div>
											<hr>
											<div class="form-group">
												<div class="col-md-5">
													<input type="text" class="form-control"
														ng-model="currentEventLocation" id="currentevent_location"
														placeholder="Enter location" name="currentevent_location">
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-5">
													<textarea rows="4" cols="50" ng-model="currentEventDesc"
														id="currentevent_description" placeholder="Add a description"
														name="currentevent_description"></textarea>
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-3">
													<div class="checkbox">
														<label><input type="checkbox" ng-model="currentEventNote"
																id="event_notification" name="event_notification">Push
															notification?</label>
													</div>
												</div>
											</div>

											<div class="form-group" ng-if="currentEventNote">
												<div class="col-md-4">
													<label>Choose the time to notify</label>
													<div uib-timepicker ng-model="eventTimestart.note" hour-step="1"
														minute-step="1" show-meridian="true"></div>
													</select>
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-3">
													<div class="checkbox">
														<label><input type="checkbox" ng-model="gotGuide"
																id="event_guide_rel" name="event_guide_rel">Select
															Related Guide?</label>
													</div>
												</div>
											</div>


											<div class="form-group" ng-if="gotGuide">
												<div class="col-md-4">
													<label>Choose from the list of guides</label>
													<select class="form-control" size="4"
														ng-model="chooseGuide.selectedGuideId"
														ng-options="g.name for g in listGuide" ng-required="required">
													</select>
												</div>
												{{chooseGuide.selectedGuideId.$id}}
											</div>

											<div class="form-group">
												<div class="col-md-3">
													<button type="button" class="btn btn-default {{update_stat}}"
														ng-click="updateEvent()">Update event</button>
												</div>
											</div>

										</form>

									</div>
								</div>
							</div>

							<div id="event-delete" class="tab-pane fade">
								<div class="panel panel-default">
									<div class="panel-heading">Delete events</div>
									<div class="panel-body">
										<p>check items to delete</p>
										eventChecked.events {{eventChecked.events | json}}<br>
										<button type="button" class="btn btn-default" ng-click="deleteEvent()">Delete
											event</button>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div id="map" class="tab-pane fade" ng-controller="mapAll">
					<div class="col-md-2">
						<ul class="nav nav nav-tabs tabs-left">
							<li class="active"><a data-toggle="tab" href="#map-view">CampusMaps</a></li>
							<li><a data-toggle="tab" href="#map-create">Add Room</a></li>
							<li><a data-toggle="tab" href="#map-read">View Rooms</a></li>
							<li><a data-toggle="tab" href="#map-update" ng-click="onMapEditClick()">Edit Room</a></li>
							<li><a data-toggle="tab" href="#map-delete">Delete Room</a></li>

						</ul>
					</div>

					<div class="col-md-10">
						<div class="tab-content">

							<div id="map-view" class="tab-pane fade in active">

								<div class="panel panel-default panel-map">
									<div class="panel-heading">View CampusMaps</div>
									<div class="panel-body">
										<div id="Iframe-Master-CC-and-Rs"
											class="set-margin set-padding set-border set-box-shadow center-block-horiz">
											<div class="responsive-wrapper 
															   responsive-wrapper-wxh-572x612" style="-webkit-overflow-scrolling: touch; overflow: auto;">

												<iframe style="
															  top: 0;
															  left: 0;
															  width: 100%;
															  height: 450px;
															  border: 0;" src="/map/LandingMap/"></iframe>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div id="map-create" class="tab-pane fade">

								<div class="panel panel-default">
									<div class="panel-heading">Add one map</div>
									<div class="panel-body">

										<form novalidate name="formMapCreate" ng-submit="createMap(formMapCreate)"
											class="form-horizontal">

											<div class="form-group">
												<div class="col-md-3">
													<input type="text" ng-model="mapCode" class="form-control"
														id="map_code" placeholder="Enter code" name="map_code"
														required="required">
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-5">
													<input type="text" ng-model="mapName" class="form-control"
														id="map_name" placeholder="Enter name" name="map_name"
														required="required">
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-5">
													<input type="text" ng-model="mapDescriptionheader"
														class="form-control" id="map_descriptionheader"
														placeholder="Enter header name" name="map_descriptionheader"
														required="required">
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-5">
													<input type="text" ng-model="mapDescription" class="form-control"
														id="map_description" placeholder="Enter description"
														name="map_descriptionheader" required="required">
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-3">
													<input type="file" id="file" name="file" />
													<label for="file">Upload Image</label>
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-3">
													<input type="hidden" ng-model="mapImageResult" class="form-control"
														id="map_image_result" name="map_image_result" value="">
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-3">
													<input type="submit" class="btn btn-default" value="Add map" />
												</div>
											</div>

										</form>
									</div>
								</div>

							</div>

							<div id="map-read" class="tab-pane fade">

								<div class="panel panel-default">
									<div class="panel-heading">View maps</div>
									<div class="panel-body">
										<table class="table" id="tableViewMap"
											class="col-md-12 table-bordered table-striped table-condensed cf">
											<tr>
												<th>Code</th>
												<th>Name</th>
												<th>Header</th>
												<th>Description</th>
												<!-- <th>Level</th>
												<th>Category</th>
												<th>Space</th> -->
											</tr>
											<tr ng-repeat="u in maps">
												<td>
													<input type="checkbox" checklist-model="mapChecked.maps"
														checklist-value="u.$id" id="{{u.$id}}"
														ng-disabled="!checked && mapChecked.maps.length == 1">
													<label for="{{u.$id}}">{{u.code}}</label>
												</td>
												<td>
													<strong>{{u.name}}</strong>
												</td>
												<td>
													<strong>{{u.descriptionheader}}</strong>
												</td>
												<td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
													<strong>{{u.description}}</strong>
												</td>
												<!-- <td>
													<strong>{{u.level}}</strong>
												</td>
												<td>
													<strong>{{u.category}}</strong>
												</td>
												<td>
													<strong>{{u.space}}</strong>
												</td> -->
											</tr>
										</table>
										mapChecked.maps {{mapChecked.maps | json}}
									</div>
								</div>



							</div>

							<div id="map-update" class="tab-pane fade">

								<div class="panel panel-default">
									<div class="panel-heading">Edit maps</div>
									<div class="panel-body">
										<p>only edits the first item</p>
										<!-- mapChecked.maps: {{mapChecked.maps | json}}<br> -->
										current selection: {{currentMapCode}} {{currentMapName}}<br>
										<input type="text" ng-model="newMapCode" placeholder="{{currentMapCode}}">
										<input type="text" ng-model="newMapName" placeholder="{{currentMapName}}">
										<input type="text" ng-model="newMapDescription"
											placeholder="{{currentMapDescription}}">
										<input type="text" ng-model="newMapDescriptionheader"
											placeholder="{{currentMapDescriptionHeader}}">

										<button type="button" class="btn btn-default" ng-click="updateMap()">Update
											map</button>
									</div>
								</div>

							</div>

							<div id="map-read" class="tab-pane fade">
								<div class="container">
									<div class="row">
										<div class="col-md-12">
										</div>
										<div id="no-more-tables">
											<table class="table" id="tableViewMap"
												class="col-md-12 table-bordered table-striped table-condensed cf">
												<thead class="cf">
													<tr>
														<th>Code</th>
														<th>Name</th>
														<th>Header</th>
														<th>Description</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="u in maps">
														<td>
															<input type="checkbox" checklist-model="mapChecked.maps"
																checklist-value="u.$id" id="{{u.$id}}"
																ng-disabled="!checked && mapChecked.maps.length == 1">
															<label for="{{u.$id}}">{{u.code}}</label>
														</td>
														<td>
															<strong>{{u.name}}</strong>
														</td>
														<td>
															<strong>{{u.descriptionheader}}</strong>
														</td>
														<td>
															<strong>{{u.description}}</strong>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="row">
										<p class="bg-success" style="padding:10px;margin-top:20px"><small><a
													href="http://elvery.net/demo/responsive-tables/#no-more-tables"
													target="_blank">Link</a> to original article</small></p>
									</div>
								</div>
							</div>

							<div id="map-delete" class="tab-pane fade">

								<div class="panel panel-default">
									<div class="panel-heading">Delete maps</div>
									<div class="panel-body">
										<p>check items to delete</p>
										mapChecked.maps {{mapChecked.maps | json}}<br>
										<button type="button" class="btn btn-default" ng-click="deleteMap()">Delete
											map</button>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>

				<div id="unit" class="tab-pane fade" ng-controller="unitAll">
					<div class="col-md-2">
						<ul class="nav nav nav-tabs tabs-left">
							<li class="active"><a data-toggle="tab" href="#unit-create">Add units</a></li>
							<li><a data-toggle="tab" href="#unit-read">View units</a></li>
							<li><a data-toggle="tab" href="#unit-update" ng-click="onUnitEditClick()">Edit units</a>
							</li>
							<li><a data-toggle="tab" href="#unit-delete">Delete units</a></li>
						</ul>
					</div>
					<div class="col-md-10">
						<div class="tab-content">

							<div id="unit-create" class="tab-pane fade in active">

								<div class="panel panel-default">
									<div class="panel-heading">Add one unit</div>
									<div class="panel-body">

										<form novalidate name="formUnitCreate" ng-submit="createUnit(formUnitCreate)"
											class="form-horizontal">

											<div class="form-group">
												<div class="col-md-3">
													<input type="text" ng-model="unitCode" class="form-control"
														id="unit_code" placeholder="Enter code" name="unit_code"
														required="required">
												</div>
											</div>


											<div class="form-group">
												<div class="col-md-5">
													<input type="text" ng-model="unitName" class="form-control"
														id="unit_name" placeholder="Enter name" name="unit_name"
														required="required">
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-3">
													<input type="submit" class="btn btn-default" value="Add unit" />
												</div>
											</div>

										</form>
									</div>
								</div>

							</div>

							<div id="unit-read" class="tab-pane fade">

								<div class="panel panel-default">
									<div class="panel-heading">View units</div>
									<div class="panel-body">
										<table class="table" id="tableViewUnit">
											<tr>
												<th>Code</th>
												<th>Name</th>
											</tr>
											<tr ng-repeat="u in units">
												<td>
													<input type="checkbox" checklist-model="unitChecked.units"
														checklist-value="u.$id" id="{{u.$id}}"
														ng-disabled="!checked && unitChecked.units.length == 1">
													<label for="{{u.$id}}">{{u.code}}</label>
												</td>
												<td>
													<strong>{{u.name}}</strong>
												</td>
											</tr>
										</table>
										unitChecked.units {{unitChecked.units | json}}
									</div>
								</div>

							</div>

							<div id="unit-update" class="tab-pane fade">

								<div class="panel panel-default">
									<div class="panel-heading">Edit units</div>
									<div class="panel-body">
										<p>only edits the first item</p>
										unitChecked.units: {{unitChecked.units | json}}<br>
										current selection: {{currentUnitCode}} {{currentUnitName}}<br>
										<form novalidate name="formUnitEdit" ng-submit="updateUnit(formUnitEdit)"
											class="form-horizontal">

											<div class="form-group">
												<div class="col-md-3">
													<input type="text" ng-model="currentUnitCode" class="form-control"
														id="unit_code" placeholder="Enter code" name="unit_code"
														required="required">
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-5">
													<input type="text" ng-model="currentUnitName" class="form-control"
														id="unit_name" placeholder="Enter name" name="unit_name"
														required="required">
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-3">
													<input type="submit" class="btn btn-default" value="Update unit" />
												</div>
											</div>
										</form>

										<!--									<input type="text" ng-model="currentUnitCode" placeholder="Enter Code"></input>
										<input type="text" ng-model="currentUnitName" placeholder="Enter Name"></input>
										<button type="button" class="btn btn-default" ng-click="updateUnit()">Update unit</button>-->
									</div>
								</div>

							</div>

							<div id="unit-delete" class="tab-pane fade">

								<div class="panel panel-default">
									<div class="panel-heading">Delete units</div>
									<div class="panel-body">
										<p>check items to delete</p>
										unitChecked.units {{unitChecked.units | json}}<br>
										<button type="button" class="btn btn-default" ng-click="deleteUnit()">Delete
											unit</button>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>

				<div id="club" class="tab-pane fade" ng-controller="clubAll">
					<div class="col-md-2">
						<ul class="nav nav nav-tabs tabs-left">
							<li class="active"><a data-toggle="tab" href="#club-create">Add clubs</a></li>
							<li><a data-toggle="tab" href="#club-read">View clubs</a></li>
							<li><a data-toggle="tab" href="#club-update" ng-click="onClubEditClick()">Edit clubs</a>
							</li>
							<li><a data-toggle="tab" href="#club-delete">Delete clubs</a></li>
						</ul>
					</div>
					<div class="col-md-10">
						<div class="tab-content">

							<div id="club-create" class="tab-pane fade in active">

								<div class="panel panel-default">
									<div class="panel-heading">Add one club</div>
									<div class="panel-body">

										<form novalidate name="formClubCreate" ng-submit="createClub(formClubCreate)"
											class="form-horizontal">

											<div class="form-group">
												<div class="col-md-4">
													<input type="text" class="form-control" ng-model="clubName"
														id="club_name" placeholder="Enter name" name="club_name"
														required="required">
												</div>
											</div>

											<div class="form-group">
												<div class="col-md-3">
													<input type="submit" class="btn btn-default" value="Add club" />
												</div>
											</div>

										</form>
									</div>
								</div>

							</div>

							<div id="club-read" class="tab-pane fade">

								<div class="panel panel-default">
									<div class="panel-heading">View clubs</div>
									<div class="panel-body">
										<table class="table" id="tableViewClub">
											<tr>
												<th>Name</th>
											</tr>
											<tr ng-repeat="c in clubs">
												<td>
													<input type="checkbox" checklist-model="clubChecked.clubs"
														checklist-value="c.$id" id="{{c.$id}}"
														ng-disabled="!checked && clubChecked.clubs.length == 1">
													<label for="{{c.$id}}">{{c.name}}</label>
												</td>
											</tr>
										</table>
										clubChecked.clubs {{clubChecked.clubs | json}}
									</div>
								</div>

							</div>

							<div id="club-update" class="tab-pane fade">

								<div class="panel panel-default">
									<div class="panel-heading">Edit clubs</div>
									<div class="panel-body">
										<p>only edits the first item</p>
										clubChecked.clubs: {{clubChecked.clubs | json}}<br>
										current selection: {{currentClubName}}<br>
										<input type="text" ng-model="currentClubName" placeholder="Enter name">
										<button type="button" class="btn btn-default" ng-click="updateClub()">Update
											club</button>
									</div>
								</div>

							</div>

							<div id="club-delete" class="tab-pane fade">

								<div class="panel panel-default">
									<div class="panel-heading">Delete clubs</div>
									<div class="panel-body">
										<p>check items to delete</p>
										clubChecked.clubs {{clubChecked.clubs | json}}<br>
										<button type="button" class="btn btn-danger" ng-click="deleteClub()">Delete
											club</button>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<!-- Latest compiled and minified JavaScript -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

	<!-- Import and configure the Firebase SDK -->
	<!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
	<!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
	<script type="text/javascript" src="/__/firebase/3.9.0/firebase-app.js"></script>
	<script type="text/javascript" src="/__/firebase/3.9.0/firebase-auth.js"></script>
	<script type="text/javascript" src="/__/firebase/3.9.0/firebase-database.js"></script>
	<script type="text/javascript" src="/__/firebase/3.9.0/firebase-storage.js"></script>
	<script type="text/javascript" src="/__/firebase/init.js"></script>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/g/jquery.ui@1.10"></script>
	<script type="text/javascript" src="static/js/tv4.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-animate.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-sanitize.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="static/js/ObjectPath.js"></script>
	<script type="text/javascript" src="static/js/picker.js"></script>
	<script type="text/javascript" src="static/js/picker.date.js"></script>
	<script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js"></script>
	<script type="text/javascript" src="static/js/tx-tinymce.js"></script>
	<script type="text/javascript" src="static/js/schema-form.js"></script>
	<script type="text/javascript" src="static/js/bootstrap-decorator.js"></script>
	<script type="text/javascript" src="static/js/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap-tinymce.js"></script>

	<script type="text/javascript" src="static/js/angular.js"></script>
	<script type="text/javascript" src="static/js/checklist-model.js"></script>
	<script type="text/javascript" src="static/js/gm.datepickerMultiSelect.js"></script>

	<script type="text/javascript" src="static/js/createguide.js"></script>
	<script type="text/javascript" src="static/js/guide.js"></script>
	<script type="text/javascript" src="static/js/event.js"></script>
	<script type="text/javascript" src="static/js/club.js"></script>
	<script type="text/javascript" src="static/js/unit.js"></script>
	<script type="text/javascript" src="static/js/map3.js"></script>

	<!-- AngularFire -->
	<script type="text/javascript" src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

	<script type="text/javascript" src="static/js/logout.js"></script>
</body>

</html>