<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Manage StudentAvatar">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>StudentAvatars Dashboard</title>

	<!-- Disable tap highlight on IE 
	<meta name="msapplication-tap-highlight" content="no">
	-->

	<!-- Add to homescreen for Chrome on Android 
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="application-name" content="Firebase Database Quickstart">
	<meta name="theme-color" content="#303F9F">
	-->

	<!-- Add to homescreen for Safari on iOS 
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="Firebase Database Quickstart">
	<meta name="apple-mobile-web-app-status-bar-style" content="#303F9F">
	-->

	<!-- Tile icon for Win8 
	<meta name="msapplication-TileColor" content="#3372DF">
	<meta name="msapplication-navbutton-color" content="#303F9F">
	-->

	<!-- Material Design Lite
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css">
	<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
	--> 

	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/themes/default.css">
	<link rel="stylesheet" href="css/themes/default.date.css">  
	<link rel="stylesheet" href="css/bootstrap.vertical-tabs.min.css">	
	<style>
	/* CSS for responsive iframe */
/* ========================= */

/* outer wrapper: set max-width & max-height; max-height greater than padding-bottom % will be ineffective and height will = padding-bottom % of max-width */
#Iframe-Master-CC-and-Rs {
  max-width: 512px;
  max-height: 100%; 
  overflow: hidden;
}

/* inner wrapper: make responsive */
.responsive-wrapper {
  position: relative;
  height: 0;    /* gets height from padding-bottom */
  
  /* put following styles (necessary for overflow and scrolling handling on mobile devices) inline in .responsive-wrapper around iframe because not stable in CSS:
    -webkit-overflow-scrolling: touch; overflow: auto; */
  
}
 
.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;
  border: none;
}

/* padding-bottom = h/w as % -- sets aspect ratio */
/* YouTube video aspect ratio */
.responsive-wrapper-wxh-572x612 {
  padding-bottom: 107%;
}

/* general styles */
/* ============== */
.set-border {
  border: 5px inset #4f4f4f;
}
.set-box-shadow { 
  -webkit-box-shadow: 4px 4px 14px #4f4f4f;
  -moz-box-shadow: 4px 4px 14px #4f4f4f;
  box-shadow: 4px 4px 14px #4f4f4f;
}
.set-padding {
  padding: 40px;
}
.set-margin {
  margin: 30px;
}
.center-block-horiz {
  margin-left: auto !important;
  margin-right: auto !important;
}

	</style>
	<!-- Optional theme 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	-->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="css/datePicker.css">
</head>

<body ng-app="myApp">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>StudentAvatar Dashboard</h1>
				<p>Welcome to the StudentAvatar Dashboard</p>
			</div>
		</div>
		<a href="#" onclick="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
		
		<hr>
		
		<nav>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#user">User</a></li>
				<li><a data-toggle="tab" href="#guide">Guide</a></li>
				<li><a data-toggle="tab" href="#event">Event</a></li>
				<li><a data-toggle="tab" href="#map">Map</a></li>
				<li><a data-toggle="tab" href="#unit">Unit</a></li>
				<li><a data-toggle="tab" href="#club">Club</a></li>
			</ul>
		</nav>
		
		<div class="tab-content">
			<div id="user" class="tab-pane fade in active">
			
				<ul class="nav nav-pills">
					<li class="active"><a data-toggle="pill" href="#user-create">Add users</a></li>
					<li><a data-toggle="pill" href="#user-read">View users</a></li>
					<li><a data-toggle="pill" href="#user-update">Edit users</a></li>
					<li><a data-toggle="pill" href="#user-delete">Delete users</a></li>
				</ul>
			
			
				<div class="tab-content">
					
					<div id="user-create" class="tab-pane fade in active">
					
						<div class="panel panel-default">
							<div class="panel-heading">Add one user</div>
							<div class="panel-body">
							
								<form class="form-horizontal">
								
									<div class="form-group">
										<div class="col-md-3">
											<input type="text" class="form-control" id="user_name" placeholder="Enter username" name="user_name" required="required">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<input type="email" class="form-control" id="user_mail" placeholder="Enter email" name="user_mail" required="required">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<input type="text" class="form-control" id="user_pass" placeholder="Enter password" name="user_pass" required="required">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<label for="user_role">Select role of user</label>
											<select class="form-control" name="user_role" size="1" id="user_role" required="required">
												<option value="1">admin (1)</option>
												<option value="2">staff (2)</option>
												<option value="3">club leader (3)</option>
												<option value="4">student (4)</option>
											</select>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<button type="button" class="btn btn-default" onclick="userSubmit()">Add user</button>
										</div>
									</div>
								
								</form>
							</div>
						</div>
					
					
						<div class="panel panel-default">
							<div class="panel-heading">Add multiple users</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
					
					</div>
					
					<div id="user-read" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">View users</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
						
					</div>
					
					<div id="user-update" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">Edit users</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
						
					</div>
					
					<div id="user-delete" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">Delete users</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
						
					</div>
					
				</div>
			
			</div>
		
			<div id="guide" class="tab-pane fade" ng-controller="guideAll">
				<ul class="nav nav-pills">
					<li class="active"><a data-toggle="pill" href="#guide-create">Create a Guide</a></li>
					<li><a data-toggle="pill" href="#guide-read">View all Guides</a></li>
					<li><a data-toggle="pill" href="#guide-update" ng-click="onGuideEditClick()">Edit a Guide</a></li>
					<li><a data-toggle="pill" href="#guide-delete">Delete a Guide</a></li>
				</ul>
				
				<div class="tab-content">
					<div id="guide-create" class="tab-pane fade in active">
						<div class="panel panel-default">
							<div class="panel-heading">Create a guide</div>
							<div class="panel-body">
								<form name="myForm"
									  sf-schema="schema"
									  sf-form="form"
									  sf-model="model"
									  ng-submit="onSubmit(myForm)">
								</form>
								<p>{{model}}</p>
								<p>{{model.guideTitle}}</p>
							</div> 	
						</div>
					</div>
					
					<div id="guide-read" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">View Guides</div>
							<div class="panel-body">
								<table class="table" id="tableViewGuide ">
									<tr>
										<th>Name</th>
									</tr>
									<tr ng-repeat="g in guides">
										<td>
											<input type="checkbox" checklist-model="guideChecked.guides" checklist-value="g.$id" id="{{g.$id}}">
											<label for="{{g.$id}}">{{g.name}}</label>
										</td>
									</tr>
								</table>
								guideChecked.guides {{guideChecked.guides | json}}
							</div>
						</div>
					
					</div>
					
					<div id="guide-update" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">Refresh an existing guide</div>
							<div class="panel-body">
								<p>only edits the first item</p>
								guideChecked.guides: {{guideChecked.guides | json}}<br>
								current selection: {{currentGuideName}}<br>
								<input type="text" ng-model="newGuideName" placeholder="Enter name">
								<button type="button" class="btn btn-default" ng-click="updateGuide()">Update Guide</button>
							</div>
						</div>
						
					</div>
					
					<div id="guide-delete" class="tab-pane fade">
						<div class="panel panel-default">
							<div class="panel-heading">Delete Guides</div>
							<div class="panel-body">
								<p>check items to delete</p>
								guideChecked.guides {{guideChecked.guides | json}}<br>
								<button type="button" class="btn btn-danger" ng-click="deleteGuide()">Delete Guide</button>
							</div>
						</div>
					</div>        
				</div>
			</div>
			
			<div id="event" class="tab-pane fade" ng-controller="eventAll">
			
				<ul class="nav nav-pills">
					<li class="active"><a data-toggle="pill" href="#event-create">Add event</a></li>
					<li><a data-toggle="pill" href="#event-read">View events</a></li>
					<li><a data-toggle="pill" href="#event-update" ng-click="onEventEditClick()">Edit events</a></li>
					<li><a data-toggle="pill" href="#event-delete">Delete events</a></li>
				</ul>
			
				<div class="tab-content">
				
					<div id="event-create" class="tab-pane fade in active">

						<div class="panel panel-default">
							<div class="panel-heading">Add one event</div>
							<div class="panel-body">
								<form novalidate name="formEventCreate" class="form-horizontal">
								
									<div class="form-group">
										<div class="col-md-5">
											<input type="text" class="form-control" ng-model="eventTitle" id="event_title" placeholder="Enter title" name="event_title" ng-required="required">
										</div>
									</div>
									
									<div class="form-group">

										<label class="col-md-12" for="relateTo">This event relates to?</label>
									
										<div class="col-md-6">
											
											<label class="radio-inline">
												<input type="radio" id="relateTo" ng-model="rel.event" value="general" ng-click="onEventRelSelect('general')">General Event
											</label>
											
											<label class="radio-inline">
												<input type="radio" id="relateTo" ng-model="rel.event" value="unit" ng-click="onEventRelSelect('unit')">Unit (class/schedule/timetable)
											</label>
											
											<label class="radio-inline">
												<input type="radio" id="relateTo" ng-model="rel.event" value="club" ng-click="onEventRelSelect('club')">Club Events
											</label>
										
										</div>
									
									</div>
									
									<div class="form-group" ng-if="rel.event == 'unit' || rel.event == 'club'">
									
										<div class="col-md-4">
											<label>Choose from the list of {{rel.event}}</label>
											<select class="form-control" size="4" ng-model="choose.selectedEventId" ng-options="c.name for c in sel" ng-required="required">
											</select>
										</div>
										{{choose.selectedEventId.$id}}
									</div>
									<hr>
									<div class="form-group">
										<div class="col-md-4">
											<p>Pick date(s)</p>
										
											<div class='btn-group'>
												<label class="btn btn-default" ng-model="pickMode" uib-btn-radio="'indi'">Individual date pick</label>
												<label class="btn btn-default" ng-model="pickMode" uib-btn-radio="'range'">Range date pick</label>
											</div>
											
											<p ng-if="pickMode=='indi'">Choose any dates for this event</p>
											<p ng-if="pickMode=='range'">Choose a range of dates for this event</p>
											
											<div 
												uib-datepicker
												ng-model="activeDate"
												multi-select="selectedDates"
												select-range="{{pickMode=='range'}}"
												datepicker-options="dateOptions"></div>
										</div>
										
										<div class="col-md-5">
											
											<div ng-if="pickMode=='indi'">
												Selected Dates:
												<div class="well well-sm">
													<div ng-repeat="d in selectedDates | orderBy">
														{{d | date : 'fullDate'}}
														<button class="btn btn-warning btn-xs" ng-click="removeSelected(d)">Remove</button>
													</div>
												</div>
											</div>
											
											<div ng-if="pickMode=='range'">
												Selected Dates:
												<div class="well well-sm">
													{{(selectedDates | orderBy)[0] | date:"fullDate"}}
													<span ng-if="selectedDates.length > 1">
														- {{(selectedDates | orderBy : '-')[0] | date:"fullDate"}}
													</span>
												</div>
											</div>
											
										</div>
									</div>
									<hr>
									<div class="form-group">
										<div class="col-md-5">
											<p>Pick a time (numbers are scrollable)</p>
											<div uib-timepicker ng-model="eventTimeRange.start" hour-step="1" minute-step="1" show-meridian="true"></div>
											
											<button type="button" class="btn btn-default" ng-click="toggleDuration()" ng-if="!duration">Set end time</button>
											
											<div ng-if="duration">
												<p>End time</p>
												<div uib-timepicker ng-model="eventTimeRange.end" hour-step="1" minute-step="1" show-meridian="true"></div>
												
												<button type="button" class="btn btn-default" ng-click="toggleDuration()">Cancel</button>
											</div>
										</div>
									</div>
									<hr>
									<div class="form-group">
										<div class="col-md-5">
											<input type="text" class="form-control" ng-model="eventLocation" id="event_location" placeholder="Enter location" name="event_location">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-5">
											<textarea rows="4" cols="50" ng-model="eventDesc" id="event_description" placeholder="Add a description" name="event_description"></textarea>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<div class="checkbox">
												<label><input type="checkbox" ng-model="eventNote" id="event_notification" name="event_notification">Push notification?</label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<button type="button" class="btn btn-default" ng-click="createEvent()">Add Event</button>
										</div>
									</div>
								
								</form>
							
							
							</div>
						</div>
						
						<div class="panel panel-default">
							<div class="panel-heading">Add multiple events</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>

					</div>
					
					<div id="event-read" class="tab-pane fade">
						<div class="panel panel-default">
							<div class="panel-heading">View events</div>
							<div class="panel-body">
								
								<pre>Selected date is: <em>{{viewDateSelect | date:'fullDate'}}</em></pre>
								
								<div uib-datepicker ng-model="viewDateSelect"></div>
								
								<input type="text" ng-model="eventFil" placeholder="currently cannot filter dates" />
								
								<table class="table" id="tableViewEvent">
									<tr>
										<th>Title</th>
										<th>Date</th>
										<th>Time</th>
										<th>Relation</th>
									</tr>
									<tr ng-repeat="ev in viewEvent | filter: eventFil">
										<td>
											<input type="checkbox" checklist-model="eventChecked.events" checklist-value="ev.$id" id="{{ev.$id}}">
											<label for="{{ev.$id}}">{{ev.title}}</label>
										</td>
										<td>
											<strong>{{ev.datealt}}</strong>
										</td>
										<td>
											<strong>{{ev.time}}</strong>
										</td>
										<td>
											<strong>{{ev.relateTo}}</strong>
										</td>
									</tr>
								</table>
								
							</div>
						</div>
					</div>
					
					<div id="event-update" class="tab-pane fade">
						<div class="panel panel-default">
							<div class="panel-heading">Edit events</div>
							<div class="panel-body">
								<p>only edits the first item</p>
								eventChecked.events: {{eventChecked.events | json}}<br>
								current selection: <br>
							</div>
						</div>
					</div>
					
					<div id="event-delete" class="tab-pane fade">
						<div class="panel panel-default">
							<div class="panel-heading">Delete events</div>
							<div class="panel-body">
								<p>check items to delete</p>
								eventChecked.events {{eventChecked.events | json}}<br>
								<button type="button" class="btn btn-default" ng-click="deleteEvent()">Delete event</button>
							</div>
						</div>
					</div>
					
				</div>

			</div>
			
			<div id="map" class="tab-pane fade" ng-controller="mapAll">
			
				<ul class="nav nav-pills">
					<li class="active"><a data-toggle="pill" href="#map-create">Add maps</a></li>
					<li><a data-toggle="pill" href="#map-read">View maps</a></li>
					<li><a data-toggle="pill" href="#map-update" ng-click="onMapEditClick()">Edit maps</a></li>
					<li><a data-toggle="pill" href="#map-delete">Delete maps</a></li>
					
				</ul>
			
			
				<div class="tab-content">
				
					<div id="map-create" class="tab-pane fade in active">
					
						<div class="panel panel-default">
							<div class="panel-heading">Add one map <a href="https://my-awesome-project-6dd85.firebaseapp.com/CampusMap2/">Campus Map</a></div>
							<div class="panel-body">
							
								<form novalidate name="formMapCreate" ng-submit="createMap(formMapCreate)" class="form-horizontal">
								
									<div class="form-group">
										<div class="col-md-3">
											<input type="text" ng-model="mapCode" class="form-control" id="map_code" placeholder="Enter code" name="map_code" required="required">
										</div>
									</div>


									<div class="form-group">
										<div class="col-md-5">
											<input type="text" ng-model="mapName" class="form-control" id="map_name" placeholder="Enter name" name="map_name" required="required">
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-5">
											<input type="text" ng-model="mapDescriptionheader" class="form-control" id="map_descriptionheader" placeholder="Enter header name" name="map_descriptionheader" required="required">
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-5">
											<input type="text" ng-model="mapDescription" class="form-control" id="map_description" placeholder="Enter description" name="map_descriptionheader" required="required">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<input type="submit" class="btn btn-default" value="Add map" />
										</div>
									</div>
								
								</form>
							</div>
						</div>
					
					
						<div class="panel panel-default">
							<div class="panel-heading">Add multiple maps</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
							
					</div>
				
					<div id="map-read" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">View maps</div>
							<div class="panel-body">
								<table class="table" id="tableViewMap">
									<tr>
										<th>Code</th>
										<th>Name</th>
										<th>Header</th>
										<th>Description</th>
									</tr>
									<tr ng-repeat="u in maps">
										<td>
											<input type="checkbox" checklist-model="mapChecked.maps" checklist-value="u.$id" id="{{u.$id}}">
											<label for="{{u.$id}}">{{u.code}}</label>
										</td>
										<td>
											<strong>{{u.name}}</strong>
										</td>
										<td>
											<strong>{{u.descriptionheader}}</strong>
										</td>
										<td>
												<strong>{{u.description}}</strong>
										</td>
									</tr>
								</table>
								mapChecked.maps {{mapChecked.maps | json}}
							</div>
						</div>
					

<div id="Iframe-Master-CC-and-Rs" class="set-margin set-padding set-border set-box-shadow center-block-horiz">
	<div class="responsive-wrapper 
	   responsive-wrapper-wxh-572x612"
	   style="-webkit-overflow-scrolling: touch; overflow: auto;">
  
	  <iframe src="/CampusMap2/"> 
	</iframe>
	  
	</div>
  </div>
  

					</div>
					
					<div id="map-update" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">Edit maps</div>
							<div class="panel-body">
								<p>only edits the first item</p>
								mapChecked.maps: {{mapChecked.maps | json}}<br>
								current selection: {{currentMapCode}} {{currentMapName}}<br>
								<input type="text" ng-model="newMapCode" placeholder="Enter Code">
								<input type="text" ng-model="newMapName" placeholder="Enter Name">
								<input type="text" ng-model="newMapDescription" placeholder="Enter description">
								<input type="text" ng-model="newMapDescriptionheader" placeholder="Enter Header">

								<button type="button" class="btn btn-default" ng-click="updateMap()">Update map</button>
							</div>
						</div>
						
					</div>
					
					<div id="map-delete" class="tab-pane fade">
						
						<div class="panel panel-default">
							<div class="panel-heading">Delete maps</div>
							<div class="panel-body">
								<p>check items to delete</p>
								mapChecked.maps {{mapChecked.maps | json}}<br>
								<button type="button" class="btn btn-default" ng-click="deleteMap()">Delete map</button>
							</div>
						</div>
						
					</div>
				
				</div>
				
			</div>
			
			

			<div id="unit" class="tab-pane fade" ng-controller="unitAll">
			
				<ul class="nav nav-pills">
					<li class="active"><a data-toggle="pill" href="#unit-create">Add units</a></li>
					<li><a data-toggle="pill" href="#unit-read">View units</a></li>
					<li><a data-toggle="pill" href="#unit-update" ng-click="onUnitEditClick()">Edit units</a></li>
					<li><a data-toggle="pill" href="#unit-delete">Delete units</a></li>
				</ul>
			
			
				<div class="tab-content">
				
					<div id="unit-create" class="tab-pane fade in active">
					
						<div class="panel panel-default">
							<div class="panel-heading">Add one unit</div>
							<div class="panel-body">
							
								<form novalidate name="formUnitCreate" ng-submit="createUnit(formUnitCreate)" class="form-horizontal">
								
									<div class="form-group">
										<div class="col-md-3">
											<input type="text" ng-model="unitCode" class="form-control" id="unit_code" placeholder="Enter code" name="unit_code" required="required">
										</div>
									</div>


									<div class="form-group">
										<div class="col-md-5">
											<input type="text" ng-model="unitName" class="form-control" id="unit_name" placeholder="Enter name" name="unit_name" required="required">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<input type="submit" class="btn btn-default" value="Add unit" />
										</div>
									</div>
								
								</form>
							</div>
						</div>
					
					
						<div class="panel panel-default">
							<div class="panel-heading">Add multiple units</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
							
					</div>
				
					<div id="unit-read" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">View units</div>
							<div class="panel-body">
								<table class="table" id="tableViewUnit">
									<tr>
										<th>Code</th>
										<th>Name</th>
									</tr>
									<tr ng-repeat="u in units">
										<td>
											<input type="checkbox" checklist-model="unitChecked.units" checklist-value="u.$id" id="{{u.$id}}">
											<label for="{{u.$id}}">{{u.code}}</label>
										</td>
										<td>
											<strong>{{u.name}}</strong>
										</td>
									</tr>
								</table>
								unitChecked.units {{unitChecked.units | json}}
							</div>
						</div>
						
					</div>
					
					<div id="unit-update" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">Edit units</div>
							<div class="panel-body">
								<p>only edits the first item</p>
								unitChecked.units: {{unitChecked.units | json}}<br>
								current selection: {{currentUnitCode}} {{currentUnitName}}<br>
								<input type="text" ng-model="newUnitCode" placeholder="Enter Code">
								<input type="text" ng-model="newUnitName" placeholder="Enter Name">
								<button type="button" class="btn btn-default" ng-click="updateUnit()">Update unit</button>
							</div>
						</div>
						
					</div>
					
					<div id="unit-delete" class="tab-pane fade">
						
						<div class="panel panel-default">
							<div class="panel-heading">Delete units</div>
							<div class="panel-body">
								<p>check items to delete</p>
								unitChecked.units {{unitChecked.units | json}}<br>
								<button type="button" class="btn btn-default" ng-click="deleteUnit()">Delete unit</button>
							</div>
						</div>
						
					</div>
				
				</div>
				
			</div>
			
			<div id="club" class="tab-pane fade" ng-controller="clubAll">
			
				<ul class="nav nav-pills">
					<li class="active"><a data-toggle="pill" href="#club-create">Add clubs</a></li>
					<li><a data-toggle="pill" href="#club-read">View clubs</a></li>
					<li><a data-toggle="pill" href="#club-update" ng-click="onClubEditClick()">Edit clubs</a></li>
					<li><a data-toggle="pill" href="#club-delete">Delete clubs</a></li>
				</ul>
				
				<div class="tab-content">
				
					<div id="club-create" class="tab-pane fade in active">
					
						<div class="panel panel-default">
							<div class="panel-heading">Add one club</div>
							<div class="panel-body">
							
								<form novalidate name="formClubCreate" ng-submit="createClub(formClubCreate)" class="form-horizontal">

									<div class="form-group">
										<div class="col-md-4">
											<input type="text" class="form-control" ng-model="clubName" id="club_name" placeholder="Enter name" name="club_name" required="required">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-md-3">
											<input type="submit" class="btn btn-default" value="Add club" />
										</div>
									</div>
								
								</form>
							</div>
						</div>
					
					
						<div class="panel panel-default">
							<div class="panel-heading">Add multiple clubs</div>
							<div class="panel-body">
								<p>put something</p>
							</div>
						</div>
					
					</div>
					
					<div id="club-read" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">View clubs</div>
							<div class="panel-body">
								<table class="table" id="tableViewClub">
									<tr>
										<th>Name</th>
									</tr>
									<tr ng-repeat="c in clubs">
										<td>
											<input type="checkbox" checklist-model="clubChecked.clubs" checklist-value="c.$id" id="{{c.$id}}">
											<label for="{{c.$id}}">{{c.name}}</label>
										</td>
									</tr>
								</table>
								clubChecked.clubs {{clubChecked.clubs | json}}
							</div>
						</div>
					
					</div>
					
					<div id="club-update" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">Edit clubs</div>
							<div class="panel-body">
								<p>only edits the first item</p>
								clubChecked.clubs: {{clubChecked.clubs | json}}<br>
								current selection: {{currentClubName}}<br>
								<input type="text" ng-model="newClubName" placeholder="Enter name">
								<button type="button" class="btn btn-default" ng-click="updateClub()">Update club</button>
							</div>
						</div>
						
					</div>
					
					<div id="club-delete" class="tab-pane fade">
					
						<div class="panel panel-default">
							<div class="panel-heading">Delete clubs</div>
							<div class="panel-body">
								<p>check items to delete</p>
								clubChecked.clubs {{clubChecked.clubs | json}}<br>
								<button type="button" class="btn btn-danger" ng-click="deleteClub()">Delete club</button>
							</div>
						</div>
						
					</div>
					
				</div>
			
			</div>
		
		</div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
    <!-- Import and configure the Firebase SDK -->
    <!-- These scripts are made available when the app is served or deployed on Firebase Hosting -->
    <!-- If you do not serve/host your project using Firebase Hosting see https://firebase.google.com/docs/web/setup -->
    <script src="/__/firebase/3.9.0/firebase-app.js"></script>
    <script src="/__/firebase/3.9.0/firebase-auth.js"></script>
    <script src="/__/firebase/3.9.0/firebase-database.js"></script>
    <script src="/__/firebase/init.js"></script>
	
<!--	<!--AngularJS-->
<!--	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>-->
<!--	<script src="ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>-->
<!--    <script src="ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>	-->
<!--	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>-->
	
	<script src="https://code.jquery.com/jquery-2.1.3.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/g/jquery.ui@1.10"></script>
	<script src="scripts/tv4.js"></script>  
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-animate.js"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-sanitize.js"></script>
	<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.0.0.js"></script>	
	<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap.min.js"></script>-->
	<script type="text/javascript" src="scripts/sortable.js"></script>
	<script src="scripts/ObjectPath.js"></script>
	<script type="text/javascript" src="scripts/picker.js"></script>
	<script type="text/javascript" src="scripts/picker.date.js"></script>
	<script type="text/javascript" src="//cdn.tinymce.com/4/tinymce.min.js"></script>
	<script type="text/javascript" src="scripts/tx-tinymce.js"></script>
	<script src="scripts/schema-form.js"></script>
	<script src="scripts/bootstrap-decorator.js"></script>
	<script type="text/javascript" src="scripts/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript" src="scripts/bootstrap-tinymce.js"></script>	
	
	<script src="scripts/angular.js"></script>
	<script src="scripts/checklist-model.js"></script>
	<script src="scripts/gm.datepickerMultiSelect.js"></script>
	
	<script src="scripts/guide.js"></script>
	<script src="scripts/event.js"></script>
	<script src="scripts/club.js"></script>
	<script src="scripts/unit.js"></script>
	<script src="scripts/map3.js"></script>

	
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
	
	<script src="scripts/logout.js"></script>
</body>
</html>